@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,200&display=swap");
* {
  font-family: 'Poppins', sans-serif;
}

html {
  background-color: #ebe6ea;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect stroke='%23ebe6ea' stroke-width='.5' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cuse fill='%23e6e1e5' href='%23s' y='2'/%3E%3Cuse fill='%23e6e1e5' href='%23s' x='1' y='2'/%3E%3Cuse fill='%23e2dde1' href='%23s' x='2' y='2'/%3E%3Cuse fill='%23e2dde1' href='%23s'/%3E%3Cuse fill='%23ddd8dc' href='%23s' x='2'/%3E%3Cuse fill='%23ddd8dc' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23d8d4d7'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23d8d4d7'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23d3cfd3'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23ebe6ea'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%23cfcace'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.navbar .navbar-item {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  font-weight: 450;
}

.navbar .navbar-title {
  font-size: 28px;
  font-weight: 500;
}

hr {
  border-top: 1px solid #001;
  width: 40%;
  margin-left: 1px !important;
}

.blackhr {
  border-top: 1px solid #001;
  width: 50%;
  margin-left: 25% !important;
  margin-right: 25% !important;
}

.hero-body {
  padding-top: 210px;
  padding-left: 90px;
  padding-right: 110px;
}

.hero-body .button-invite {
  background: #1ad9dd;
  background: -webkit-gradient(linear, left bottom, left top, from(#1ad9dd), to(#30da97));
  background: linear-gradient(0deg, #1ad9dd 0%, #30da97 100%);
}

.hero-body .button-invite a {
  -webkit-filter: drop-shadow(0px 1px 1px #001);
          filter: drop-shadow(0px 1px 1px #001);
  color: #fff;
  font-family: 'Poppins', sans-serif;
  line-height: 21px;
  font-weight: 400;
  font-size: 18px;
}

.hero-body .button-discord {
  background: #3a41c6;
  background: -webkit-gradient(linear, left top, right top, color-stop(35%, #3a41c6), to(#7289da));
  background: linear-gradient(90deg, #3a41c6 35%, #7289da 100%);
}

.hero-body .button-discord a {
  -webkit-filter: drop-shadow(0px 1px 1px #001);
          filter: drop-shadow(0px 1px 1px #001);
  color: #fff;
  font-family: 'Poppins', sans-serif;
  line-height: 21px;
  font-weight: 400;
  font-size: 18px;
}

.hero-body .button-invite:hover {
  background: #1fafb3;
  background: -webkit-gradient(linear, left bottom, left top, from(#1fafb3), to(#13b173));
  background: linear-gradient(0deg, #1fafb3 0%, #13b173 100%);
}

.hero-body .button-discord:hover {
  background: #3f66f0;
  background: -webkit-gradient(linear, left bottom, left top, from(#3f66f0), to(#5e61a4));
  background: linear-gradient(0deg, #3f66f0 0%, #5e61a4 100%);
}

.hero-body .obama-image {
  -webkit-filter: drop-shadow(0px 1px 1px #001);
          filter: drop-shadow(0px 1px 1px #001);
}

.commands {
  padding-top: 260px;
}

.about-obama {
  padding-top: 184px;
}

.carousel-main {
  padding-top: 195px;
}

.carousel-main .carousel-title {
  padding-bottom: 20px;
}

.scroll-down {
  font-family: 'Poppins', sans-serif;
  font-size: 34px;
}

.scroll-down a {
  color: #001;
}
/*# sourceMappingURL=style.css.map */