@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200;400;500;600;700;800&display=swap');

* {
    font-family: 'Heebo', sans-serif;
}

html {
    background: #1C1C1C;
    background-attachment: fixed;
    background-size: cover;
}

hr {
    border-top: 1px solid #001;
    width: 40%; 
    margin-left: 1px !important; 
}
.blackhr {
    border-top: 1px solid #001;
    width: 50%; 
    margin-left: 25% !important; 
    margin-right:25% !important;
}


.highlight {
    color: #82b974;

    &:hover {
        color: #4e6f46;
        transition: all .3s ease-in-out;
    }
}

.icon {
    font-size: 64px;
    color: #131313;
    line-height: 2px;
}

// Top shape
.custom-shape-divider-top-1611483095 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1611483095 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 134px;
}

.custom-shape-divider-top-1611483095 .shape-fill {
    fill: #90CE81;
}

// Buttom shape
.custom-shape-divider-bottom-1611483236 {
    // position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    // line-height: 0;

    .section {
        padding-top: 120px;
        background-color: #90CE81;
    }
}

.custom-shape-divider-bottom-1611483236 svg {
    position: relative;
    display: block;
    width: calc(159% + 1.3px);
    height: 114px;
}

.custom-shape-divider-bottom-1611483236 .shape-fill {
    fill: #90CE81;
}


// Hero / Header
.hero-body {
    padding-top: 250px;
    padding-left: 90px;
    padding-right: 110px;

    .title {
        color: #f1f1f1;
        font-weight: 750;
        letter-spacing: 2px;
        text-transform: uppercase;
        transition: all .3s ease-in-out;
    }

    .subtitle {
        color: #f1f1f1;
        letter-spacing: 1px;
        transition: all .3s ease-in-out;
    }

    a {
        color: inherit;
    }
}

// Nav
.navbar {
    .navbar-item {
        padding-left: 20px;
        padding-right: 40px;
        padding-top: 20px;
        font-weight: 450;
        letter-spacing: 1px;

        &:hover {
            color: #141414 !important;
            transition: all .3s ease-in-out;
        }
    }
    .navbar-title {
        font-size: 28px;
        font-weight: 500;
    }
}

.section-footer {
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #121212;
    padding: 30px 12px 0px 12px;
    padding-bottom: 46px;

    padding-top: 140px;


    h6, p {
        color: #121212;
    }

    a {
        color: #121212;

        &:hover {
            color: #000;
        }
    }


    .title {
      color: #121212;
      font-size: 16px;
      text-transform: uppercase;
      margin-top: 5px;
      letter-spacing: 2px
    }
    .subtitle {
      font-size: 16px;
    }
}

.btn {
	display: inline-block;
	background: transparent;
	color: inherit;
	font: inherit;
	border: 0;
	outline: 0;
	padding: 0;
    transition: all 200ms ease-in;
	cursor: pointer;
    

    &--invite {
        background: #90CE81;
        color: #1c1c1c;
        font-weight: 500;
        box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
		border-radius: 44px;
		padding: 12px 36px;
        transition: 0.3s;

        &:hover {
            background: #9bd38e;
            transform: translate(0, -10px);
        }
    }
}

.level {
    margin-bottom: 95px;
    
    .heading-text { 
        font-size: 24px;
        font-weight: 750;
        letter-spacing: 1px;
        // color: #f1f1f1;
        color: #141414;
    }
    .subtitle-text {
        font-size: 16px;
        color: #121212;
    }
}

.tab {
    overflow: hidden;
    border: 1px solid #90CE81;
    background-color: #90CE81;
}

.tab button {
    font-family: 'Heebo', sans-serif;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.tab button:hover {
    background-color: #73a567;
}

.tab button.active {
    background-color: #90CE81;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #90CE81;
}

.table {
    font-family: 'Heebo', sans-serif;
    background-color: #f1f1f1;
    border: 1px solid #90CE81;

    tr, th, td {
        background-color: #f2f2f2;
    }
}

.object {
    -webkit-animation: action 1s infinite  alternate;
    animation: action 1s infinite  alternate;
}
@-webkit-keyframes action {
     0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

@media only screen and (max-width: 600px) {
    .custom-shape-divider-top-1611483095 {
        visibility: hidden;
        display: none;
    }
    .hide-on-mobile {
        visibility: hidden;
        display: none;
    }
    .curved {
        height: 60vh;
    }
    .hero-body {
        padding-top: 200px;
    }
}


// .scroll-down {
//     -webkit-animation: mover 1s infinite  alternate;
//     animation: mover 1s infinite  alternate;
// }
// .scroll-down {
//     -webkit-animation: mover 1s infinite  alternate;
//     animation: mover 1s infinite  alternate;
// }
// @-webkit-keyframes mover {
//     0% { transform: translateY(0); }
//     100% { transform: translateY(-10px); }
// }
// @keyframes mover {
//     0% { transform: translateY(0); }
//     100% { transform: translateY(-10px); }
// }