@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,600&family=Poppins:ital,wght@0,400;1,500&display=swap');

$background-color: #131b21;
$font-family: 'Poppins', sans-serif;

body {
    background-color: $background-color;
    font-family: $font-family;
}

nav {
    background-color: #110f33;

    .navbar-item {
        color: #228B22;
        font-weight: 800;
        font-size: 18px;
        position: relative;
        top: 0;
        transition: top ease 0.2s;
    }
    .navbar-item:hover {
        color: rgb(126, 113, 113);
        top: -10px;
    }
}

.hero-body {
    padding-top: 120px;

    .hero-body-text {
        padding-top: 100px;
        padding-bottom: 100px;

        .title {
            font-family: 'Montserrat', sans-serif;
            font-weight: 888;
            letter-spacing: 1.4px;
            padding-bottom: 12px;
        }
        .subtitle {
            letter-spacing: 2px;
            padding-bottom: 14px;
        }
    }
    .hero-body-image {
        width: 320px;
        height: 320px;
    }
}

.button {
    background-color: #110f33;
    border: 0;  
    border-radius: 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    color: #228B22;
    font-size: 21px;
    font-weight: 800;
    padding: 16px 42px;
    letter-spacing: 1px;

    line-height: 21px;

    .fa-discord {
        font-size: 17px;
        line-height: 21px;
        padding-right: 8px;
        letter-spacing: 3px;
    }
}

.support-server {
    background-color: #222050;
    border: 0;  
    border-radius: 12px;
    color: #228B22;
    font-size: 21px;
    font-weight: 800;
    padding: 12px 12px;
    letter-spacing: 1px; 
    margin-left: 18px;
}

.commands {
    background-color: #17143f;
    border: 0;  
    border-radius: 22px;
    color: #228B22;
    font-size: 21px;
    font-weight: 800;
    padding: 19px 28px;
    letter-spacing: 1px; 

    margin-left: 18px;
    margin-top: 12px;
}

@media only screen and (max-width: 600px) {
    .support-server {
        margin-top: 12px;
    }
    .hero-body-image {
        visibility: hidden;
        display: none;
    }
}



