@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

.section-one {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 750px;
    background-image: url("https://cdn.wallpapersafari.com/19/58/qWzYdN.jpg");
}

.navbar {
    
    .navbar-item {
        color: white;
        font-family: 'Alata', sans-serif;
        overflow: hidden;
    }

    .is-fixed-top  .navbar-item {
        background-color: black;
    }

    .is-fixed-top .navbar-start .background-black {
        background-color: black;
    }
}

.hero-body {
    padding-top: 45px;
    padding-bottom: 25px;

    .header-title-image {
        filter: blur(8px);
        -webkit-filter: blur(8px);
        height: 100%;
            
    }
    .header-title-text {
        background-color: rgba(0,0,0, 0.4);
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 12px;
        padding-right: 12px;

        .title,
        .subtitle {
            color: white;
            font-family: 'Alata', sans-serif;
            font-size: 38px;
        }
        .code {
            font-family: monospace;
            font-size: 33px;
        }
    }

.cmd-category {
    .title,
    .subtitle {
        color: white;
        font-family: 'Alata', sans-serif;
        font-size: 28px;
    }
}

    .invite-button {
        font-weight: 600;
        padding: 1.2rem 3.6rem;
        border-radius: .2rem;

        display: flex;
        align-items: center;
        justify-content: center;

        a {
            background-color: rgba(0,0,0, 0.4);
            padding: 12px 18px 12px 18px;
            border-radius: 4px;

            color: white;
            font-size: 24px;
            box-shadow: 10px 10px rgba(0,0,0, 0.4);

        }
        a:hover {
            font-weight: 400;
        }
    }
}

.section {
    box-shadow: -1px -5px 5px -2px rgba(0,0,0,0.45);
}

.section-article {
    padding-top: 90px;
    padding-bottom: 120px;

    .article-text {
        text-align: center;

        .column {
            padding-top: 16px;
            padding-bottom: 12px;
        }
        .before {
            height: 5px;
            width: 64px;
            border-radius: 12px;
            background: #f15f79;
        }
        .title {
            font-family: 'Poppins', sans-serif;
            letter-spacing: 1px;
            padding-bottom: 12px;
            // line-height: 1.77;
        }
        .subtitle {
            font-family: 'Lato', sans-serif;
            font-weight: 500;
            font-size: 22px;
        }
        img {
            width: 300px;
            height: 300px;
        }
    }
}



.site-footer {
    font-family: 'Poppins', sans-serif;
    background-color:	#f5f5f5;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
    padding: 30px 12px 0px 12px;
    padding-bottom: 96px;
  
    .title {
      color: #2d2d2d;
      font-size: 16px;
      text-transform: uppercase;
      margin-top: 5px;
      letter-spacing: 2px
    }
    .subtitle {
      font-size: 16px;
    }
  
    a {
      color: #3366cc;
    }
  
    a:hover {
      color: #3366cc;
      text-decoration: none;
    }
  
  
    li {
      display: block
    }
  
    .footer-links a {
    color: #3366cc;
    }
  
    .footer-links a:active,.footer-links a:focus, .footer-links a:hover {
      color: #3366cc;
      text-decoration: none;
    }
    
  }
