@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

.section-one {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 750px;
    background-image: url("https://cdn.wallpapersafari.com/19/58/qWzYdN.jpg");
}

.navbar {
    
    .navbar-item {
        color: white;
        font-family: 'Alata', sans-serif;
        overflow: hidden;
    }

    .is-fixed-top  .navbar-item {
        background-color: black;
    }

    .is-fixed-top .navbar-start .background-black {
        background-color: black;
    }
}

.hero-body {
    padding-top: 45px;
    padding-bottom: 25px;

    .header-title-image {
        filter: blur(8px);
        -webkit-filter: blur(8px);
        height: 100%;
            
    }
    .header-title-text {
        background-color: rgba(0,0,0, 0.4);
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 12px;
        padding-right: 12px;

        .title,
        .subtitle {
            color: white;
            font-family: 'Alata', sans-serif;
            font-size: 38px;
        }
        .code {
            font-family: monospace;
            font-size: 33px;
        }
    }

.cmd-category {
    .title,
    .subtitle {
        color: white;
        font-family: 'Alata', sans-serif;
        font-size: 28px;
    }
}

    .invite-button {
        font-weight: 600;
        padding: 1.2rem 3.6rem;
        border-radius: .2rem;

        display: flex;
        align-items: center;
        justify-content: center;

        a {
            background-color: rgba(0,0,0, 0.4);
            padding: 12px 18px 12px 18px;
            border-radius: 4px;

            color: white;
            font-size: 24px;
            box-shadow: 10px 10px rgba(0,0,0, 0.4);

        }
        a:hover {
            font-weight: 400;
        }
    }
}

.section {
    box-shadow: -1px -5px 5px -2px rgba(0,0,0,0.45);
}

.main {
    .main-title-text {
        padding-top: 44px;
        padding-bottom: 44px;
        font-family: 'Alata', sans-serif;
    }
    .columns {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.footer {
    background-color: #323437;

    .button {
        background-color: #323437;
        color: white;
        border-color: #323437;
    }

    .buttons {
        display: flex;
        align-items: center;
        justify-content: center;

        list-style-type: none;
        padding-top: 44px;
        padding-bottom: 10px;

        font-family: 'Alata', sans-serif;
    }

    a:hover {
        color: aqua;
    }


}